
<!-- howdy/templates/index.html -->
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
   #container {
    position: relative;
    height: 100%;
 }
 #footer {
    position: absolute;
    bottom: 0;
 }
</style>

<head>
        <meta charset="utf-8">
        <title>Django!</title>
</head>
    <body>
    <h1 style="color: Black; font-size: 30px;" align="Left"> <font face="Courier"> We Talk: </font> </h1>

        <ul>
            {% for todo_item in all_items %}
            <li>{{ todo_item.content }}
                <form action="/deleteTodo/{{todo_item.id}}/"
                style="display: inline;"
                method="post">{% csrf_token %}
                <input type="submit" value="done"/>
                </form>
            </li>
            {% endfor %}
        </ul>


    <form action="/addTodo/" method="post">{% csrf_token %}
        <input type="text" name="content" />
        <input type="submit" value="add"/>
    </form>


   <div id="footer"><p> <h1 style="color: Black; font-size: 20px;" align="left"> <font face="Sans-serif"> <a href="/">Go back home</a> </font> </h1> </p></div>
    </body>
</html>




